.List {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    width: 280px;
}

.ListItem {
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #521751;
    background-color: white;
    text-align: center;
    cursor: pointer;
}

.ListItem:hover,
.ListItem:active {
    background-color: #ccc;
}

.fade-enter {

}
.fade-enter-active {
    animation: fade-in-animation 0.4s ease-in-out forwards;
}
.fade-exit {

}
.fade-exit-active {
    animation: fade-out-animation 0.4s ease-in-out forwards;
}

@keyframes fade-in-animation  {
    0% {
        opacity: 0;
        margin-top: 10px;
    }
    100% {
        opacity: 1;
        margin-top: 0;
    }
}

@keyframes fade-out-animation  {
    0% {
        opacity: 1;
        margin-top: 0;
    }
    100% {
        opacity: 0;
        margin-top: 10px;
    }
}
