.Modal {
    position: fixed;
    z-index: 200;
    border: 1px solid #eee;
    box-shadow: 0 2px 2px #ccc;
    background-color: white;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
    top: 30%;
    left: 25%;
    width: 50%;
    display: block;
    /*transition: all 0.3s ease-in-out;*/
}

.ModalOpen {
    animation: openModal 0.4s ease-in-out forwards;
    /*opacity: 1;*/
    /*transform: translateY(0);*/
}

.ModalClosed {
    animation: closeModal 1s ease-in-out forwards;
    /*opacity: 0;*/
    /*transform: translateY(-100vh);*/
}

@keyframes openModal {
    0% {
        opacity: 0;
        transform: translateY(-100vh);
    }
    50% {
        opacity: 1;
        transform: translateY(10vh);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes closeModal {
    0% {
        opacity: 1;
        transform: translateY(0);

    }
    50% {
        opacity: 1;
        transform: translateY(10vh);
    }
    100% {
        opacity: 0;
        transform: translateY(-100vh);
    }
}
