.App {
  text-align: center;
}

.vertical-slide-enter {
  background: yellow!important;
}
.vertical-slide-enter-active {
  background: orange!important;
}
.vertical-slide-enter-done {
  background: green!important;
}
.vertical-slide-exit {
  background: darkgreen!important;
}
.vertical-slide-exit-active {
  background: orange!important;
}
.vertical-slide-exit-done {
  background: red!important;
}

